<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <title>Equipos</title>
        <link rel="icon" type="image/png" href="../img/icon.png">
        <link rel="stylesheet" href="../css/main.css">

    </head>
    <body>
        <div>
            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-dark" id="navegacion">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="../img/logo.png" alt="" width="150">
                    </a>

                    <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto text-center">
                            <li class="nav-item btn-lg"><a class="nav-link" id="an-opciones" th:href="@{/equipos}">Equipos</a></li>
                            <li class="nav-item btn-lg"><a class="nav-link" id="an-opciones" th:href="@{/jugadores}">Jugadores</a></li>
                            <li class="nav-item btn-lg"><a class="nav-link" id="an-opciones" th:href="@{/deportes}">Deportes</a></li>
                            <li class="nav-item btn-lg"><a class="nav-link" id="an-opciones" th:href="@{/canchas}">Canchas</a></li>
                            <li class="nav-item btn-lg" id="option-selected"><a class="nav-link" id="an-opciones" th:href="@{/reservas}">Reservas</a></li>
                            <li class="nav-item btn-lg"><a class="nav-link" id="an-opciones" onclick="window.location.reload();" th:href="@{/logout}">Cerrar</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
		
		<div class="container mt-5">
		<h2 style="color:white;">Reservas</h2>
		<div th:if="${mensajeExito !=null}" class='alert alert-success' th:text="${mensajeExito}" role='alert'></div>
		<div th:if="${mensajeDobleReserva !=null}" class='alert alert-danger' th:text="${mensajeDobleReserva}" role='alert'></div>
		</div>
		
		
		
        <!-- FORMULARIO -->
        <div class="container mt-5" id="formulario">

            <form class="row g-3 needs-validation"  th:action="@{/registrarReserva}" method="post" th:object="${reserva}">
            
            <div class="col-md-1">
                	<label for="teamId" class="form-label">ID</label>
                	<input type="text" class="form-control" th:value="${reserva.idReserva}" disabled="disabled">
                	 <input type="hidden" th:field="*{idReserva}">
                </div>
            
              <!--EQUIPO A-->
              <div class="col-md-3">
                <label for="teamName" class="form-label">Equipo A</label>
                <select class="form-select" id="teamName" required th:field="*{equipoA.idEquipo}" th:errorclass="'form-control alert-danger'">
                  
                  <!--OPCIONES EQUIPO A-->
                  <option th:each="equipoA : ${listadoEquipos}" th:value="${equipoA.idEquipo}" th:text="${equipoA.nombreEquipo}">
                  ...</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid team.
                </div>
              </div>

            <!--EQUIPO B-->
              <div class="col-md-3">
              <label for="teamName" class="form-label">Equipo B</label>
              <select class="form-select" id="teamName" required th:field="*{equipoB.idEquipo}" th:errorclass="'form-control alert-danger'">
               
                <!--OPCIONES EQUIPO B-->
                <option th:each="equipoB : ${listadoEquipos}" th:value="${equipoB.idEquipo}" th:text="${equipoB.nombreEquipo}">
                ...</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid team.
              </div>
            </div>

            <!--CANCHAS-->
            <div class="col-md-3">
                <label for="cancha" class="form-label">Cancha</label>
                <select class="form-select" th:field="*{cancha.idCancha}" th:errorclass="'form-control alert-danger'">
                  
                  <!--OPCIONES CANCHAS-->
                  <option th:each="cancha : ${listadoCanchas}" th:value="${cancha.idCancha}" th:text="${cancha.deporte.nombreDeporte}+ ' ' +${cancha.local.nombreLocal} + ' ' +${cancha.horario.descripcionHorario}">
                  ...</option>

                </select>
                
              </div>

            <!--FECHA-->
            <div class="col-md-2">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" value="${fechaReserva}" required th:field="*{fechaReserva}" th:errorclass="'form-control alert-danger'">
                <div class="valid-feedback">
                  Looks good!
                </div>
            </div>
            
            
            <!--ESTADO-->
            <div class="col-md-2">
                <label for="fecha" class="form-label">Estado</label>
              	 	<select class="form-select" th:field="*{estadoReserva}" th:errorclass="'form-control alert-danger'">
                  
	                  	<!--OPCIONES CANCHAS-->
	                  	<option value="1" >Por pagar</option>
						<option value="0" >Pagado</option>
                	</select>
            </div>

                <!--CONFIRMAR DATOS-->
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                      ¿Dato de Reserva Correcto?
                    </label>
                    <div class="invalid-feedback">
                      You must agree before submitting.
                    </div>
                  </div>
                </div>

                <!--SUBMIT-->
                <div class="col-12">
                  <input class="btn btn-primary" id="boton" type="submit" value="Guardar"></input>
                </div>
            </form>
    
        </div>
    
      <!--TABLA-->
      <div class="container mt-5" id="tabla">
        <table class="table" id="tabla">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Equipo A</th>
              <th scope="col">Equipo B</th>
              <th scope="col">Cancha</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estado</th>
              <th scope="col">Operaciones</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="reserva : ${listadoReservasPorPagar}">
              <td th:text="${reserva.idReserva}">1</td>
              <td th:text="${reserva.equipoA.nombreEquipo}">Los Lagartos</td>
              <td th:text="${reserva.equipoB.nombreEquipo}">Los King</td>
              <td th:text="${reserva.cancha.deporte.nombreDeporte}+ ' ' +${reserva.cancha.local.nombreLocal} + ' ' +${reserva.cancha.horario.descripcionHorario}">Futbol San Isidro 10:00AM - 11:00AM</td>
              <td th:text="${#dates.format(reserva.fechaReserva, 'dd/MM/yyyy')}">30/03/2021</td>
              <td th:if="${reserva.estadoReserva ==true}" th:text="'Por pagar'">30/03/2021</td>
              <td th:if="${reserva.estadoReserva ==false}" th:text="'Pagado'">30/03/2021</td>
              <td>
                <!-- Call to action buttons -->
                <ul class="list-inline m-0">
                    <li class="list-inline-item">
                        <a th:href="@{/editarReserva/{idReserva} (idReserva=${reserva.idReserva}) }" class="btn btn-success btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Editar"><img src="../img/edit.png"></A>
                    </li>
                    <li class="list-inline-item">
                         <a th:href="@{/eliminarReserva/{idReserva} (idReserva=${reserva.idReserva}) }"  onclick="return confirm('¿Está seguro de eliminar esta reserva?')" class="btn btn-danger btn-sm rounded-2" type="submit" data-toggle="tooltip" data-placement="top" title="Eliminar" value="Eliminar" role="button"><img src="../img/delete.png"></a>
                    </li>
                </ul>
            </td>
            </tr>
          </tbody>
         </table>
        </div>
  
  
  
		<!-- TABLA HISTORIAL -->
		
		<div class="container mt-5">
			<h2 style="color:white;">Historial de Reservas</h2>
		</div>
		
		<div class="container mt-5" id="tabla">
        <table class="table" id="tabla">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Equipo A</th>
              <th scope="col">Equipo B</th>
              <th scope="col">Cancha</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estado</th>
              
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="reserva : ${listadoReservasPagadas}">
              <td th:text="${reserva.idReserva}">1</td>
              <td th:text="${reserva.equipoA.nombreEquipo}">Los Lagartos</td>
              <td th:text="${reserva.equipoB.nombreEquipo}">Los King</td>
              <td th:text="${reserva.cancha.deporte.nombreDeporte}+ ' ' +${reserva.cancha.local.nombreLocal} + ' ' +${reserva.cancha.horario.descripcionHorario}">Futbol San Isidro 10:00AM - 11:00AM</td>
              <td th:text="${#dates.format(reserva.fechaReserva, 'dd/MM/yyyy')}">30/03/2021</td>
              <td th:if="${reserva.estadoReserva ==true}" th:text="'Por pagar'">30/03/2021</td>
              <td th:if="${reserva.estadoReserva ==false}" th:text="'Pagado'">30/03/2021</td>

            </tr>
          </tbody>
         </table>
        </div>
		
		

          <!--EDIT DELETE-->
          <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip();
            });
          </script>
    
            
            <script>
                // JAVASCRIPT PARA DETECTAR FORMULARIO INVALIDO
                (function () {
                    'use strict'
    
                    // Obtener todos los formularios que queremos aplicar la validación
                    var forms = document.querySelectorAll('.needs-validation')
    
                    // Bucle para validar
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                            }
    
                            form.classList.add('was-validated')
                        }, false)
                        })
                    })()
            </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <noscript> alert('Esta Pagina usa JavaScript') </noscript>
    </body>
</html>